{% extends 'base.html.twig' %}
{% block title %}Malmö{% endblock %}
{% block body %}
<div class="flex-center position-ref full-height">
    <div class="content">
        <div class="title m-b-md">
            Isfjord Shipping AB - Malmö
        </div>
    </div>
</div>
{% endblock %}
