@import url('https://fonts.googleapis.com/css?family=Nunito:200,600&display=swap');

/**
 * Responsive style
 */

@media screen and (max-width: 850px) {
    .footer {
        display: inline;
    }
}

/**
 * html body main
 */

html {
    background-color: #fff;
    color: #636b6f;
    overflow-y: scroll;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    align-content: center;
}

h2 {
    font-weight: 100;
}

main {
    width: auto;
    overflow: auto;
}

/**
 * Classes in navbar
 */

.navbar-inner {
    text-align: center;
    color: white;
}

.navbar-inner > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

/**
 * Classes in body
 */

.container {
    width: 1100px;
    margin: 0 auto;
}


.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    margin-top: 10px;
    text-align: center;
}

.title {
    font-size: 84px;
}

.m-b-md {
    margin-bottom: 30px;
}

/**
 * Classes in footer
 */

.footer-outer-wrap {
    width: 100%;
    background-color: #424242;
    padding-top: 24px;
    padding-bottom: 48px;
}

.footer-inner-wrap {
    margin: 0 auto;
    display: table;
    width: 100%;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
    color: #ddd;
    text-align: center;
    display: table-cell;
    width: 33%;
}

.copyright {
    text-align: center;
}
